*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color:#3367d6;
}

.icon{
    width:800px;
    float: left;
    height: 50px;
    /* background-color:green; */
}

.icon a{
    text-decoration: none;
}

.logo{
    color:#fff;
    font-size:25px;
    font-weight: bold;
    padding-left: 50px;
    float: left;
}

.logo:hover{
    color:#000;
    transition:0.3s ease;
}

.menu{
    width: 400px;
    float: left;
    height:50px;
}

.menu ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: bisque; */
}

.menu ul li{
    list-style: none;
    margin-left: 70px;
    font-size: 20px;
    
}

.menu ul li a{
    text-decoration: none;
    color:white;
    font-family: Arial;   
}

.menu ul li a:hover{
    color: #000;
    transition: 0.4s ease-in-out;
}

.content{
    padding-left: 150px;
    width: 1024px;
}

h1{
    font-family: "微軟正黑體";
    margin-top: 80px;
    font-size:38px;
}

h1:hover{
    color:#2894FF;
    transition: 0.3s ease;
}

.profile{
    width:30%;
    float: left;
}

.skillbars{
    width: 64%;
    float: right;
}

.profile p{
    margin-top:15px;
    font-size:20px;
}

.skillbars{
    margin-top: -100px;
    max-width: 600px;
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin: 20px 0px;
 }

 .skill-bar{
    /* margin-top: 35px; */
    height: 8px;
    background: #282828;
    border-radius: 3px;
}

.skill-per{
    height: 8px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 3s infinite;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background:#BEBEBE;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background:#BEBEBE;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }

}

/* For Pad */
@media screen and (max-width: 600px){
    .main{
        width: 600px;
    }
    .navbar{
        width: 100%;
    }
    .icon{
        width:150px;
    }
    .logo{
        font-size:20px;
        padding-left: 30px;
    }
    .menu ul li{
        font-size: 18px;
        margin-left: 50px;
    } 
}

/* For Phone */
@media screen and (max-width: 480px){
    .main{
        width: 480px;
    }
    .navbar{
        width: 100%;
    }
    .icon{
        width:28%;
    }
    .logo{
        font-size:18px;
        padding-left: 25px;
    }
    .menu{
        width:70%;
    }
    .menu ul li{
        font-size: 15px;
        margin-left: 25px;
    }
    h1{
        font-size:30px;
    }
    .content{
        margin-top:-30px;
        padding-left: 25px;
    }
    .profile{
        width: 40%;
    }
    .profile p{
        font-size:15px;
    }
    .skillbars{
        margin-top:15px;
        width: 100%;
        max-width: 300px;
        float: left;
    }

}
